Repository jorgeMFS/VCFX: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, flake8, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: clang-format
        name: clang-format
        entry: clang-format -i --style=file
        language: system
        files: "\\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$"
      - id: mypy
        name: mypy
        entry: mypy python
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false

Update GitHub Actions artifact actions to v4
  .github/workflows/publish-pypi.yml
Due: none

Fix PyPI publishing issues
  .github/workflows/publish-pypi.yml
  .gitignore
  PYPI_SETUP_GUIDE.md
  python/MANIFEST.in
  python/__init__.py
  python/pyproject.toml
  python/setup.py
Due: ruff, flake8

Add test script for PyPI package building
  scripts/test_pypi_build.sh
Due: none

Fix version extraction and PyPI build process
  .github/workflows/publish-pypi.yml
  python/pyproject.toml
  scripts/test_pypi_build.sh
Due: none

Fix PyPI publishing workflow: ensure only source distributions are built, clean build dirs, remove wheels
  .github/workflows/publish-pypi.yml
Due: none

Fix version check script for dynamic pyproject.toml version and Python compatibility
  scripts/check_version.py
  scripts/extract_version.py
Due: ruff, flake8

fix info issue in readme
  python/README.md
Due: none

Fix linting issues: import order and trailing whitespace
  python/__init__.py
  python/setup.py
Due: ruff, flake8

Add PyPI badges and reorganize installation section in README
  README.md
Due: none

Deployed 035363a with MkDocs version: 1.6.1
  index.html
  installation/index.html
  python_api/index.html
  quickstart/index.html
  search/search_index.json
Due: none

Bump version to 1.0.3 for documentation and PyPI improvements release
  CHANGELOG.md
  CITATION.cff
  CMakeLists.txt
Due: none

Deployed ac3231d with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
Due: none

Add Contributor Covenant code of conduct
  CODE_OF_CONDUCT.md
  README.md
  docs/CONTRIBUTING.md
Due: none

Track benchmark Makefile
  .gitignore
  README.md
  benchmarks/Makefile
  benchmarks/harness.mk
  benchmarks/mk_tasks.py
  benchmarks/notebooks/plot_results.ipynb
  benchmarks/scripts/run_task.sh
  benchmarks/tasks.yaml
Due: ruff, flake8

Fix validator output and add mmap-based file validation
  CMakeLists.txt
  src/VCFX_validator/CMakeLists.txt
  src/VCFX_validator/VCFX_validator.cpp
  src/VCFX_validator/VCFX_validator.h
Due: clang-format

Expand test coverage for validator and fix Python bindings tests
  tests/data/complex_info.vcf
  tests/data/dosage_calculator/large.vcf
  tests/data/dosage_calculator/output_large.txt
  tests/data/duplicate_records.vcf
  tests/data/empty.vcf
  tests/data/fasta_converter/large.vcf
  tests/data/fasta_converter/output_large.fasta
  tests/data/format_mismatch.vcf
  tests/data/header_only.vcf
  tests/data/invalid_bases.vcf
  tests/data/invalid_genotype.vcf
  tests/data/invalid_multiallelic.vcf
  tests/data/large_input.vcf
  tests/data/large_output.vcf
  tests/data/large_pos.vcf
  tests/data/lowercase_bases.vcf
  tests/data/many_samples.vcf
  tests/data/mismatched_columns.vcf
  tests/data/multiallelic.vcf
  tests/data/n_bases.vcf
  tests/data/phased_genotypes.vcf
  tests/data/polyploid.vcf
  tests/data/pos_zero.vcf
  tests/data/scientific_qual.vcf
  tests/data/undefined_format.vcf
  tests/data/undefined_info.vcf
  tests/data/windows_crlf.vcf
  tests/out/concordance_help.txt
  tests/out/haplotype_extractor/test4.err
  tests/test_python_bindings.sh
  tests/test_python_tool_wrappers.sh
  tests/test_python_tool_wrappers_extra.sh
  tests/test_validator.sh
Due: none

Update documentation for validator changes and tool overview
  CHANGELOG.md
  DOCKER.md
  docs/index.md
  docs/quality-control/VCFX_validator.md
  docs/tools_overview.md
Due: none

Improve benchmark infrastructure and fix harness issues
  benchmarks/Makefile
  benchmarks/harness.mk
  benchmarks/mk_tasks.py
  benchmarks/notebooks/plot_results.ipynb
  benchmarks/scripts/run_task.sh
  benchmarks/tasks.yaml
Due: ruff, flake8

Update gitignore and add benchmark requirements
  .gitignore
  benchmarks/requirements.txt
  benchmarks/scripts/run_task_detailed.sh
Due: none

Optimize VCF processing tools for large file performance
  src/VCFX_allele_freq_calc/VCFX_allele_freq_calc.cpp
  src/VCFX_missing_detector/VCFX_missing_detector.cpp
  src/VCFX_variant_classifier/VCFX_variant_classifier.cpp
  src/VCFX_variant_counter/VCFX_variant_counter.cpp
  src/VCFX_variant_counter/VCFX_variant_counter.h
Due: clang-format

Fix flake8 linting errors in mk_tasks.py
  benchmarks/mk_tasks.py
Due: ruff, flake8

Optimize VCFX tools identified in benchmark analysis
  src/VCFX_allele_freq_calc/VCFX_allele_freq_calc.cpp
  src/VCFX_missing_detector/VCFX_missing_detector.cpp
  src/VCFX_variant_classifier/VCFX_variant_classifier.cpp
  src/VCFX_variant_counter/VCFX_variant_counter.cpp
Due: clang-format

Deployed 2948c0e with MkDocs version: 1.6.1
  sitemap.xml
  sitemap.xml.gz
  styles/custom.css
Due: none
