Repository jorgeMFS/VCFX: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, flake8, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: clang-format
        name: clang-format
        entry: clang-format -i --style=file
        language: system
        files: "\\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$"
      - id: mypy
        name: mypy
        entry: mypy python
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false

Add changelog and reference it in README
  CHANGELOG.md
  README.md
Due: none

Add issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Deployed c58d45b with MkDocs version: 1.6.1
  CONTRIBUTING/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed fef2fb0 with MkDocs version: 1.6.1
  CONTRIBUTING/index.html
  search/search_index.json
Due: none

Add Python tests for helpers and wrappers
  tests/python/test_bindings.py
  tests/python/test_convenience_wrappers.py
Due: ruff, flake8

Fix flake8 W391 errors: remove trailing blank lines from test files
  tests/python/test_bindings.py
  tests/python/test_convenience_wrappers.py
Due: ruff, flake8

Fix clang-format pre-commit hook in GitHub Actions - Add clang-format installation step to lint job
  .github/workflows/build-test.yml
Due: none

fix pre-commit
  .github/workflows/build-test.yml
  scripts/format-code.sh
Due: none

Skip clang-format in GitHub Actions CI - avoid version conflicts and auto-commit complexity - add documentation for local formatting - provide scripts/format-code.sh for consistent formatting
  .github/workflows/build-test.yml
  README.md
Due: none

Refactor tool wrappers into package
  python/CMakeLists.txt
  python/setup.py
  python/tools/__init__.py
  python/tools/analysis.py
  python/tools/base.py
  python/tools/filters.py
  tests/python/test_convenience_wrappers.py
  tests/python/test_tool_wrappers.py
  tests/python/test_tool_wrappers_extra.py
Due: ruff, flake8

Fix import path for results in tools
  python/tools/analysis.py
Due: ruff, flake8

fix python version fallback
  python/__init__.py
Due: ruff, flake8

Fix flake8 errors in python/tools/filters.py - add missing blank lines before function definition (E302) - remove trailing blank line at end of file (W391)
  python/tools/filters.py
Due: ruff, flake8

Search subdirectories for docs
  src/vcfx_wrapper/vcfx.cpp
Due: clang-format

docs: add repository structure
  README.md
Due: none

Rewrite README for clarity
  README.md
Due: none

Add PyPI publishing support for vcfx Python package
  .github/workflows/publish-pypi.yml
  PUBLISHING_PYPI.md
  python/README.md
  python/pyproject.toml
  python/setup.py
  scripts/build_and_publish.py
Due: ruff, flake8

Fix flake8 errors in Python build scripts - Remove trailing whitespace - Fix line length issues - Remove blank lines with whitespace
  python/setup.py
  scripts/build_and_publish.py
Due: ruff, flake8
