Repository jorgeMFS/VCFX: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, flake8, clang-format

ruff:
  name: ruff
  entry: ruff check
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

clang-format:
  name: clang-format
  entry: clang-format -i --style=file
  language: system

Update documentation for validator changes and tool overview
  CHANGELOG.md
  DOCKER.md
  docs/index.md
  docs/quality-control/VCFX_validator.md
  docs/tools_overview.md
Due: none

Improve benchmark infrastructure and fix harness issues
  benchmarks/Makefile
  benchmarks/harness.mk
  benchmarks/mk_tasks.py
  benchmarks/notebooks/plot_results.ipynb
  benchmarks/scripts/run_task.sh
  benchmarks/tasks.yaml
Due: ruff, flake8

Update gitignore and add benchmark requirements
  .gitignore
  benchmarks/requirements.txt
  benchmarks/scripts/run_task_detailed.sh
Due: none

Optimize VCF processing tools for large file performance
  src/VCFX_allele_freq_calc/VCFX_allele_freq_calc.cpp
  src/VCFX_missing_detector/VCFX_missing_detector.cpp
  src/VCFX_variant_classifier/VCFX_variant_classifier.cpp
  src/VCFX_variant_counter/VCFX_variant_counter.cpp
  src/VCFX_variant_counter/VCFX_variant_counter.h
Due: clang-format

Fix dark mode header readability
  docs/styles/custom.css
Due: none

Optimize VCFX tools identified in benchmark analysis
  src/VCFX_allele_freq_calc/VCFX_allele_freq_calc.cpp
  src/VCFX_missing_detector/VCFX_missing_detector.cpp
  src/VCFX_variant_classifier/VCFX_variant_classifier.cpp
  src/VCFX_variant_counter/VCFX_variant_counter.cpp
Due: clang-format

Fix flake8 linting errors in mk_tasks.py
  benchmarks/mk_tasks.py
Due: ruff, flake8

Bump version to 1.0.4
  CITATION.cff
  CMakeLists.txt
Due: none

Deployed e47ba25 with MkDocs version: 1.6.1
  analysis/VCFX_ld_calculator/index.html
  file-management/VCFX_diff_tool/index.html
  file-management/VCFX_merger/index.html
  processing/VCFX_haplotype_extractor/index.html
  processing/VCFX_haplotype_phaser/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  transformation/VCFX_sorter/index.html
Due: none

Add StreamingGzipReader for bounded-memory gzip decompression
  include/vcfx_core.h
  src/vcfx_core.cpp
Due: clang-format

Add C++ API documentation for vcfx_core library
  docs/cpp_api.md
  mkdocs.yml
Due: none

perf(phred_filter): add mmap support for 26x faster large file processing
  docs/filtering/VCFX_phred_filter.md
  src/VCFX_phred_filter/VCFX_phred_filter.cpp
  tests/expected/phred_filter/help_message.txt
Due: clang-format

perf(missing_data_handler): add mmap and multi-threading for 50x speedup
  docs/processing/VCFX_missing_data_handler.md
  src/VCFX_missing_data_handler/VCFX_missing_data_handler.cpp
  src/VCFX_missing_data_handler/VCFX_missing_data_handler.h
Due: clang-format

perf(allele_counter): optimize with zero-allocation parsing and 1MB buffer
  src/VCFX_allele_counter/VCFX_allele_counter.cpp
Due: clang-format

perf(hwe_tester): replace O(n²) permutation with O(1) chi-square formula
  src/VCFX_hwe_tester/VCFX_hwe_tester.cpp
Due: clang-format

perf(fasta_converter): use temp file streaming to prevent OOM on large files
  src/VCFX_fasta_converter/VCFX_fasta_converter.cpp
  tests/data/fasta_converter/expected_basic.fasta
  tests/data/fasta_converter/expected_indels.fasta
  tests/data/fasta_converter/expected_missing.fasta
  tests/data/fasta_converter/expected_missing_columns.fasta
  tests/data/fasta_converter/expected_multiallelic.fasta
  tests/data/fasta_converter/expected_no_gt.fasta
  tests/data/fasta_converter/output_basic.fasta
  tests/data/fasta_converter/output_indels.fasta
  tests/data/fasta_converter/output_large.fasta
  tests/data/fasta_converter/output_missing.fasta
  tests/data/fasta_converter/output_missing_columns.fasta
  tests/data/fasta_converter/output_mixed_ploidy.fasta
  tests/data/fasta_converter/output_multi_chrom.fasta
  tests/data/fasta_converter/output_multiallelic.fasta
  tests/data/fasta_converter/output_no_gt.fasta
Due: clang-format

perf(ld_calculator): optimize memory and I/O for large sample processing
  docs/analysis/VCFX_ld_calculator.md
  src/VCFX_ld_calculator/VCFX_ld_calculator.cpp
  src/VCFX_ld_calculator/VCFX_ld_calculator.h
  tests/test_ld_calculator.sh
Due: clang-format

perf(gl_filter): optimize genotype likelihood parsing and output
  docs/filtering/VCFX_gl_filter.md
  src/VCFX_gl_filter/VCFX_gl_filter.cpp
Due: clang-format

perf(cross_sample_concordance): remove stringstream overhead
  src/VCFX_cross_sample_concordance/VCFX_cross_sample_concordance.cpp
Due: clang-format

perf(distance_calculator): optimize pairwise distance computation
  src/VCFX_distance_calculator/VCFX_distance_calculator.cpp
Due: clang-format

perf(dosage_calculator): optimize dosage computation for large samples
  src/VCFX_dosage_calculator/VCFX_dosage_calculator.cpp
  tests/data/dosage_calculator/large.vcf
  tests/data/dosage_calculator/output_large.txt
  tests/data/dosage_calculator/output_missing_header.txt
Due: clang-format

perf(multiallelic_splitter): optimize allele splitting for large files
  src/VCFX_multiallelic_splitter/VCFX_multiallelic_splitter.cpp
Due: clang-format

perf(inbreeding_calculator): optimize F coefficient computation
  src/VCFX_inbreeding_calculator/VCFX_inbreeding_calculator.cpp
  tests/data/inbreeding_calculator/single_sample_excludeSample_false.err
  tests/data/inbreeding_calculator/single_sample_excludeSample_true.err
  tests/data/inbreeding_calculator/single_sample_global_false.err
  tests/data/inbreeding_calculator/single_sample_global_true.err
Due: clang-format

perf(field_extractor): optimize field parsing and output
  src/VCFX_field_extractor/VCFX_field_extractor.cpp
Due: clang-format

perf(ancestry_assigner): optimize ancestry computation for large samples
  src/VCFX_ancestry_assigner/VCFX_ancestry_assigner.cpp
Due: clang-format

chore(benchmarks): update benchmark tasks and results
  benchmarks/mk_tasks.py
  benchmarks/notebooks/plot_results.ipynb
  benchmarks/tasks.yaml
Due: ruff, flake8

test(fasta_converter): update large test VCF file
  tests/data/fasta_converter/large.vcf
  tests/out/mixed_natural_sorted.vcf
  tests/out/natural_sorted.vcf
  tests/out/sorter_help.txt
Due: none

chore: update .gitignore
  .gitignore
Due: none

Deployed a541ab4 with MkDocs version: 1.6.1
  analysis/VCFX_ld_calculator/index.html
  filtering/VCFX_gl_filter/index.html
  filtering/VCFX_phred_filter/index.html
  processing/VCFX_missing_data_handler/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Optimize VCFX_sorter with mmap and pre-computed chromosome IDs
  docs/transformation/VCFX_sorter.md
  src/VCFX_sorter/VCFX_sorter.cpp
  src/VCFX_sorter/VCFX_sorter.h
Due: clang-format

Deployed fac6bc0 with MkDocs version: 1.6.1
  search/search_index.json
  transformation/VCFX_sorter/index.html
Due: none

perf(variant_counter): optimize with SIMD and memchr for 60x speedup
  docs/analysis/VCFX_variant_counter.md
  src/VCFX_variant_counter/VCFX_variant_counter.cpp
Due: clang-format

Deployed 1ab17ac with MkDocs version: 1.6.1
  analysis/VCFX_variant_counter/index.html
  search/search_index.json
Due: none

perf(indexer): optimize with mmap and SIMD for 15-20x speedup
  docs/file-management/VCFX_indexer.md
  src/VCFX_indexer/VCFX_indexer.cpp
  src/VCFX_indexer/VCFX_indexer.h
Due: clang-format

Deployed 37107d0 with MkDocs version: 1.6.1
  file-management/VCFX_indexer/index.html
  search/search_index.json
Due: none

Path conditions:
  ruff: any of: \.py$
  flake8: any of: \.py$
  clang-format: any of: \.(c|cc|cpp|cxx|h|hh|hpp|hxx)$
